    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:04
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-angry-horse-face-side-view-outline:before { content: "\f100"; }
.flaticon-black-running-horse:before { content: "\f101"; }
.flaticon-castle-horse-with-riding-gear:before { content: "\f102"; }
.flaticon-dancing-black-horse-shape-of-side-view:before { content: "\f103"; }
.flaticon-dancing-race-black-horse:before { content: "\f104"; }
.flaticon-dragon-head-with-angry-face:before { content: "\f105"; }
.flaticon-head-of-a-horse-outline:before { content: "\f106"; }
.flaticon-horse-about-to-attack-side-view:before { content: "\f107"; }
.flaticon-horse-artistic-head:before { content: "\f108"; }
.flaticon-horse-attacking-motion-silhouette:before { content: "\f109"; }
.flaticon-horse-beautiful-side-view-outline:before { content: "\f10a"; }
.flaticon-horse-black-head:before { content: "\f10b"; }
.flaticon-horse-black-running-shape:before { content: "\f10c"; }
.flaticon-horse-black-shape:before { content: "\f10d"; }
.flaticon-horse-black-silhouette-in-elegant-jump:before { content: "\f10e"; }
.flaticon-horse-black-walking-shape:before { content: "\f10f"; }
.flaticon-horse-cartoon-drawing-in-a-circle-silhouette:before { content: "\f110"; }
.flaticon-horse-cartoon-outline-facing-right-with-running-feet:before { content: "\f111"; }
.flaticon-horse-cartoon-variant-silhouette-facing-the-right-direction:before { content: "\f112"; }
.flaticon-horse-face-art-sketch:before { content: "\f113"; }
.flaticon-horse-face-front-view-sketch:before { content: "\f114"; }
.flaticon-horse-face-silhouette-right-side-view-variant:before { content: "\f115"; }
.flaticon-horse-frontal-polygonal-head-shape:before { content: "\f116"; }
.flaticon-horse-full-body-cartoon-variant-facing-the-left-direction:before { content: "\f117"; }
.flaticon-horse-half-image-inside-a-square-frame:before { content: "\f118"; }
.flaticon-horse-head:before { content: "\f119"; }
.flaticon-horse-head-covered-with-horsehair:before { content: "\f11a"; }
.flaticon-horse-head-drawing-facing-the-left-direction:before { content: "\f11b"; }
.flaticon-horse-head-facing-left-outline-variant:before { content: "\f11c"; }
.flaticon-horse-head-facing-right-outline-variant:before { content: "\f11d"; }
.flaticon-horse-head-facing-the-left-silhouette-with-white-details:before { content: "\f11e"; }
.flaticon-horse-head-from-side-view:before { content: "\f11f"; }
.flaticon-horse-head-lines:before { content: "\f120"; }
.flaticon-horse-head-outline-facing-the-left:before { content: "\f121"; }
.flaticon-horse-head-right-side-view-silhouette:before { content: "\f122"; }
.flaticon-horse-head-side-view-facing-the-right-silhouette:before { content: "\f123"; }
.flaticon-horse-head-side-view-to-the-right-silhouette:before { content: "\f124"; }
.flaticon-horse-head-side-view-variant:before { content: "\f125"; }
.flaticon-horse-head-silhouette-with-raised-feet-facing-right:before { content: "\f126"; }
.flaticon-horse-head-sketch-variant:before { content: "\f127"; }
.flaticon-horse-head-sketch-variant-1:before { content: "\f128"; }
.flaticon-horse-head-with-long-horsehair:before { content: "\f129"; }
.flaticon-horse-head-with-messy-mane-side-view:before { content: "\f12a"; }
.flaticon-horse-in-running-motion-outline:before { content: "\f12b"; }
.flaticon-horse-in-running-motion-silhouette:before { content: "\f12c"; }
.flaticon-horse-jump-silhouette:before { content: "\f12d"; }
.flaticon-horse-jumping-outline-variant:before { content: "\f12e"; }
.flaticon-horse-lines:before { content: "\f12f"; }
.flaticon-horse-making-a-pose-silhouette:before { content: "\f130"; }
.flaticon-horse-of-artsy-mane-standing-and-facing-the-left-direction-silhouette:before { content: "\f131"; }
.flaticon-horse-of-cartoons:before { content: "\f132"; }
.flaticon-horse-of-thin-elegant-black-shape-in-running-pose:before { content: "\f133"; }
.flaticon-horse-outline:before { content: "\f134"; }
.flaticon-horse-outline-cartoon:before { content: "\f135"; }
.flaticon-horse-outline-raising-feet-side-view:before { content: "\f136"; }
.flaticon-horse-outline-raising-front-feet-side-view:before { content: "\f137"; }
.flaticon-horse-outlined-head:before { content: "\f138"; }
.flaticon-horse-outlined-shape-side-view:before { content: "\f139"; }
.flaticon-horse-pony-cartoon-outline:before { content: "\f13a"; }
.flaticon-horse-raising-feet-outline-right-side-view:before { content: "\f13b"; }
.flaticon-horse-raising-feet-outline-variant:before { content: "\f13c"; }
.flaticon-horse-raising-feet-side-view-silhouette-head-part:before { content: "\f13d"; }
.flaticon-horse-raising-feet-silhouette:before { content: "\f13e"; }
.flaticon-horse-raising-front-feet-inside-a-circle-outline:before { content: "\f13f"; }
.flaticon-horse-raising-one-foot-silhouette:before { content: "\f140"; }
.flaticon-horse-right-side-view-sketch:before { content: "\f141"; }
.flaticon-horse-running-silhouette-facing-right:before { content: "\f142"; }
.flaticon-horse-silhouette:before { content: "\f143"; }
.flaticon-horse-silhouette-side-view-to-the-right:before { content: "\f144"; }
.flaticon-horse-silhouette-with-mane-outline:before { content: "\f145"; }
.flaticon-horse-sketch-raising-feet-facing-right:before { content: "\f146"; }
.flaticon-horse-sketch-shadows:before { content: "\f147"; }
.flaticon-horse-standing-on-back-paws:before { content: "\f148"; }
.flaticon-horse-standing-up-silhouette:before { content: "\f149"; }
.flaticon-horse-tattoo-art-variant-facing-the-left:before { content: "\f14a"; }
.flaticon-horse-tattoo-art-variant-side-view-to-the-right:before { content: "\f14b"; }
.flaticon-horse-tattoo-variant-facing-the-left:before { content: "\f14c"; }
.flaticon-horse-wild-black-shape-on-back-paws:before { content: "\f14d"; }
.flaticon-horse-with-artistic-lines-variant:before { content: "\f14e"; }
.flaticon-horse-with-beautiful-hair-lines:before { content: "\f14f"; }
.flaticon-horse-with-creative-hair-raising-feet-right-side-view:before { content: "\f150"; }
.flaticon-horse-with-curly-mane-silhouette:before { content: "\f151"; }
.flaticon-horse-with-head-down-side-view-outline:before { content: "\f152"; }
.flaticon-horse-with-ornamental-horsehair:before { content: "\f153"; }
.flaticon-horse-with-raging-head-silhouette-variant:before { content: "\f154"; }
.flaticon-jumping-black-horse-side:before { content: "\f155"; }
.flaticon-jumping-horse-silhouette-facing-left-side-view:before { content: "\f156"; }
.flaticon-pony-variant-cartoon-silhouette:before { content: "\f157"; }
.flaticon-quiet-horse-side-view-silhouette:before { content: "\f158"; }
.flaticon-race-horse-black-silhouette:before { content: "\f159"; }
.flaticon-running-horse-facing-the-left-direction-silhouette:before { content: "\f15a"; }
.flaticon-running-small-horse-facing-left:before { content: "\f15b"; }
.flaticon-standing-horse-silhouette-variant-facing-the-right:before { content: "\f15c"; }
.flaticon-zebra-silhouette-variant:before { content: "\f15d"; }
    
    $font-Flaticon-angry-horse-face-side-view-outline: "\f100";
    $font-Flaticon-black-running-horse: "\f101";
    $font-Flaticon-castle-horse-with-riding-gear: "\f102";
    $font-Flaticon-dancing-black-horse-shape-of-side-view: "\f103";
    $font-Flaticon-dancing-race-black-horse: "\f104";
    $font-Flaticon-dragon-head-with-angry-face: "\f105";
    $font-Flaticon-head-of-a-horse-outline: "\f106";
    $font-Flaticon-horse-about-to-attack-side-view: "\f107";
    $font-Flaticon-horse-artistic-head: "\f108";
    $font-Flaticon-horse-attacking-motion-silhouette: "\f109";
    $font-Flaticon-horse-beautiful-side-view-outline: "\f10a";
    $font-Flaticon-horse-black-head: "\f10b";
    $font-Flaticon-horse-black-running-shape: "\f10c";
    $font-Flaticon-horse-black-shape: "\f10d";
    $font-Flaticon-horse-black-silhouette-in-elegant-jump: "\f10e";
    $font-Flaticon-horse-black-walking-shape: "\f10f";
    $font-Flaticon-horse-cartoon-drawing-in-a-circle-silhouette: "\f110";
    $font-Flaticon-horse-cartoon-outline-facing-right-with-running-feet: "\f111";
    $font-Flaticon-horse-cartoon-variant-silhouette-facing-the-right-direction: "\f112";
    $font-Flaticon-horse-face-art-sketch: "\f113";
    $font-Flaticon-horse-face-front-view-sketch: "\f114";
    $font-Flaticon-horse-face-silhouette-right-side-view-variant: "\f115";
    $font-Flaticon-horse-frontal-polygonal-head-shape: "\f116";
    $font-Flaticon-horse-full-body-cartoon-variant-facing-the-left-direction: "\f117";
    $font-Flaticon-horse-half-image-inside-a-square-frame: "\f118";
    $font-Flaticon-horse-head: "\f119";
    $font-Flaticon-horse-head-covered-with-horsehair: "\f11a";
    $font-Flaticon-horse-head-drawing-facing-the-left-direction: "\f11b";
    $font-Flaticon-horse-head-facing-left-outline-variant: "\f11c";
    $font-Flaticon-horse-head-facing-right-outline-variant: "\f11d";
    $font-Flaticon-horse-head-facing-the-left-silhouette-with-white-details: "\f11e";
    $font-Flaticon-horse-head-from-side-view: "\f11f";
    $font-Flaticon-horse-head-lines: "\f120";
    $font-Flaticon-horse-head-outline-facing-the-left: "\f121";
    $font-Flaticon-horse-head-right-side-view-silhouette: "\f122";
    $font-Flaticon-horse-head-side-view-facing-the-right-silhouette: "\f123";
    $font-Flaticon-horse-head-side-view-to-the-right-silhouette: "\f124";
    $font-Flaticon-horse-head-side-view-variant: "\f125";
    $font-Flaticon-horse-head-silhouette-with-raised-feet-facing-right: "\f126";
    $font-Flaticon-horse-head-sketch-variant: "\f127";
    $font-Flaticon-horse-head-sketch-variant-1: "\f128";
    $font-Flaticon-horse-head-with-long-horsehair: "\f129";
    $font-Flaticon-horse-head-with-messy-mane-side-view: "\f12a";
    $font-Flaticon-horse-in-running-motion-outline: "\f12b";
    $font-Flaticon-horse-in-running-motion-silhouette: "\f12c";
    $font-Flaticon-horse-jump-silhouette: "\f12d";
    $font-Flaticon-horse-jumping-outline-variant: "\f12e";
    $font-Flaticon-horse-lines: "\f12f";
    $font-Flaticon-horse-making-a-pose-silhouette: "\f130";
    $font-Flaticon-horse-of-artsy-mane-standing-and-facing-the-left-direction-silhouette: "\f131";
    $font-Flaticon-horse-of-cartoons: "\f132";
    $font-Flaticon-horse-of-thin-elegant-black-shape-in-running-pose: "\f133";
    $font-Flaticon-horse-outline: "\f134";
    $font-Flaticon-horse-outline-cartoon: "\f135";
    $font-Flaticon-horse-outline-raising-feet-side-view: "\f136";
    $font-Flaticon-horse-outline-raising-front-feet-side-view: "\f137";
    $font-Flaticon-horse-outlined-head: "\f138";
    $font-Flaticon-horse-outlined-shape-side-view: "\f139";
    $font-Flaticon-horse-pony-cartoon-outline: "\f13a";
    $font-Flaticon-horse-raising-feet-outline-right-side-view: "\f13b";
    $font-Flaticon-horse-raising-feet-outline-variant: "\f13c";
    $font-Flaticon-horse-raising-feet-side-view-silhouette-head-part: "\f13d";
    $font-Flaticon-horse-raising-feet-silhouette: "\f13e";
    $font-Flaticon-horse-raising-front-feet-inside-a-circle-outline: "\f13f";
    $font-Flaticon-horse-raising-one-foot-silhouette: "\f140";
    $font-Flaticon-horse-right-side-view-sketch: "\f141";
    $font-Flaticon-horse-running-silhouette-facing-right: "\f142";
    $font-Flaticon-horse-silhouette: "\f143";
    $font-Flaticon-horse-silhouette-side-view-to-the-right: "\f144";
    $font-Flaticon-horse-silhouette-with-mane-outline: "\f145";
    $font-Flaticon-horse-sketch-raising-feet-facing-right: "\f146";
    $font-Flaticon-horse-sketch-shadows: "\f147";
    $font-Flaticon-horse-standing-on-back-paws: "\f148";
    $font-Flaticon-horse-standing-up-silhouette: "\f149";
    $font-Flaticon-horse-tattoo-art-variant-facing-the-left: "\f14a";
    $font-Flaticon-horse-tattoo-art-variant-side-view-to-the-right: "\f14b";
    $font-Flaticon-horse-tattoo-variant-facing-the-left: "\f14c";
    $font-Flaticon-horse-wild-black-shape-on-back-paws: "\f14d";
    $font-Flaticon-horse-with-artistic-lines-variant: "\f14e";
    $font-Flaticon-horse-with-beautiful-hair-lines: "\f14f";
    $font-Flaticon-horse-with-creative-hair-raising-feet-right-side-view: "\f150";
    $font-Flaticon-horse-with-curly-mane-silhouette: "\f151";
    $font-Flaticon-horse-with-head-down-side-view-outline: "\f152";
    $font-Flaticon-horse-with-ornamental-horsehair: "\f153";
    $font-Flaticon-horse-with-raging-head-silhouette-variant: "\f154";
    $font-Flaticon-jumping-black-horse-side: "\f155";
    $font-Flaticon-jumping-horse-silhouette-facing-left-side-view: "\f156";
    $font-Flaticon-pony-variant-cartoon-silhouette: "\f157";
    $font-Flaticon-quiet-horse-side-view-silhouette: "\f158";
    $font-Flaticon-race-horse-black-silhouette: "\f159";
    $font-Flaticon-running-horse-facing-the-left-direction-silhouette: "\f15a";
    $font-Flaticon-running-small-horse-facing-left: "\f15b";
    $font-Flaticon-standing-horse-silhouette-variant-facing-the-right: "\f15c";
    $font-Flaticon-zebra-silhouette-variant: "\f15d";